# Dependencies & Build Output
node_modules/
dist/
build/
.pytest_cache/
__pycache__/
*.pyc

# Databases & Archives
*.db
*.sqlite
mingit.zip
mingit/

# System & IDE
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
